@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";

@import "icons";

@import "grid";
$font-family: "TT Norms Pro";
$second-font-family: "Prata";
$main-color: #1d976c;
/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	font-family: $font-family;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: #fff;
	font-weight: 450;
}
body.lock {
	@media (max-width: 768px) {
		overflow: hidden;
	}
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
	max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/
.relative {
	position: relative;
}
.pulse {
	height: 80px;
	width: 80px;
	background: radial-gradient(59.29% 59.29% at 31.43% 30%, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #cbe2e2;
	position: relative;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 50%;
	display: grid;
	place-items: center;
	font-size: 50px;
	color: #ffffff;
	margin-top: 13%;
	z-index: 9999;
	.pulse-in {
		background: radial-gradient(59.29% 59.29% at 31.43% 30%, #fff 0, rgba(255, 255, 255, 0) 100%), #cbe2e2;
		z-index: 99;
		width: 100%;
		height: 100%;
		border-radius: 100%;
		display: grid;
		place-items: center;
	}
}
.pulse span {
	display: block;
	position: relative;
	z-index: 9;
	width: 0;
	height: 0;
	transform: scale(0.7);
	border-left: 20px solid #1d976c;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.pulse:before,
.pulse:after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(29, 151, 108, 0.5);
	border-radius: 50%;
	z-index: 1;
	opacity: 0.7;
}
.pulse:before {
	animation: pulse 2s ease-out infinite;
}
.pulse:after {
	animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse {
	100% {
		transform: scale(2.5);
		opacity: 0;
	}
}
.white-popup {
	position: relative;
	background: #fff;
	padding: 40px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
	.section-title {
		h3 {
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			text-align: center;
			color: #ffac85;
			margin-bottom: 16px;
		}
		p {
			font-size: 18px;
			line-height: 22px;
			text-align: center;
			color: #15525e;
			margin-bottom: 40px;
		}
	}
	.form-group {
		position: relative;
		.icon {
			position: absolute;
			top: 25%;
			left: 5%;
			color: #bbc3c4;
		}
		input {
			margin-bottom: 24px;
			text-indent: 30px;
		}
	}
	.text-area {
		.icon {
			position: absolute;
			top: 18px;
			left: 5%;
			color: #bbc3c4;
		}
		textarea {
			margin-bottom: 24px;
			text-indent: 30px;
		}
	}
}
.hidden {
	display: none;
}

input[type="text"],
input[type="number"],
input[type="password"],
select {
	border: 1px solid #c2c5cc;
	width: 100%;
	padding: 15px;
	@media (max-width: 768px) {
		margin-bottom: 15px;
	}
	&::placeholder {
		color: #bbc3c4;
	}
	&:focus {
		border: 1px solid #ffceb7;
	}
	&:focus::placeholder {
		color: $main-color;
	}
}
textarea {
	border: 1px solid #d3dcde;
	width: 100% !important;
	padding: 15px;
	text-indent: 20px;
	box-sizing: border-box;
	@media (max-width: 768px) {
		margin-bottom: 15px;
	}
	&::placeholder {
		color: #bbc3c4;
	}
	&:focus {
		border: 1px solid #ffceb7;
	}
	&:focus::placeholder {
		color: $main-color;
	}
}
section {
	overflow: hidden;
}
/*-------uo-button------*/
#button {
	display: inline-block;
	background-color: #ffceb7;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	padding: 18px;
	transform: rotate(90deg);
}
#button:hover {
	cursor: pointer;
	background-color: $main-color;
}
#button:active {
	background-color: $main-color;
}
#button.show {
	opacity: 1;
	visibility: visible;
}
.btn {
	background: linear-gradient(180deg, rgba(95, 214, 139, 0.5) 11.29%, rgba(29, 151, 108, 0.5) 100%), #4cb484;
	box-shadow: 0px 4px 30px rgba(44, 96, 78, 0.3);
	border-radius: 32px;
	padding: 14px 30px;
	width: 100%;
	display: inline;
	text-align: center;
	transition: all 0.3s ease 0s;
	font-family: TT Norms Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #f7f9fa;

	&:hover {
		background: $main-color;
		color: $main-color;
	}
}
.title {
	font-family: Prata;
	font-style: normal;
	font-weight: normal;
	font-size: calc(25px + 15 * (100vw / 1920));
	line-height: 49px;
	text-align: center;
	display: block;
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #3b3e3d;
	@media (max-width: 768px) {
		width: 100%;
		text-align: center;
		padding: 0 15px;
	}
}
.container-fluid {
	padding: 0 30px;
	@media (max-width: 428px) {
		padding: 0 15px;
	}
}
.head-block {
	position: relative;
	background-image: url(../img/head-bg.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	#scene {
		position: absolute;
		width: 100%;
		height: 100%;
		.list-left {
			position: absolute !important;
			left: -100px !important;
			top: 115px !important;
			@media (max-width: 428px) {
				left: 0 !important;
				top: 222px !important;
			}
		}
		.list-right {
			position: absolute !important;
			left: 65% !important;
			top: 250px !important;
			@media (max-width: 428px) {
				left: 0 !important;
				top: 812px !important;
			}
		}
	}
	.circl {
		position: absolute;
		right: 0;
		top: 0;
		@media (max-width: 1200px) {
			width: 65%;
		}
		@media (max-width: 580px) {
			display: none;
		}
	}
	header {
		padding: 30px 0;
		position: relative;
		z-index: 10;
		@media (max-width: 580px) {
			background: linear-gradient(264.03deg, #1d976c 4.33%, #93f9b9 116.77%);
			.col-2 {
				order: 3;
			}
		}
		.logo {
			display: flex;
			column-gap: 24px;
			align-items: center;
			@media (max-width: 320px) {
				svg {
					width: 80px;
				}
			}
			@media (max-width: 768px) {
				display: block;
			}
			a {
				display: block;
			}
			.logo-txt {
				font-family: TT Norms Pro;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 140%;
				letter-spacing: 0.01em;
				color: #9b9b9b;
				flex: 0 1 184px;
				display: block;
				@media (max-width: 992px) {
					display: none;
				}
			}
		}
		.head-telegram {
			display: flex;
			align-items: center;
			justify-content: center;
			a {
				border: 1px solid rgba(9, 216, 255, 0.6);
				box-sizing: border-box;
				border-radius: 31px;
				padding: 12px 14px;
				display: flex;
				column-gap: 14px;
				align-items: center;
				justify-content: center;
				@media (max-width: 768px) {
					padding: 0;
					border: 0;
				}
				.icon {
					font-size: 30px;
					color: #01d7ff;
				}
				.telegram-txt {
					font-family: TT Norms Pro;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 16px;
					color: #404d46;
					@media (max-width: 580px) {
						display: none;
					}
				}
			}
		}
		.head-phone {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			column-gap: 12px;
			@media (max-width: 428px) {
				justify-content: center;
			}
			.icon {
				@media (max-width: 428px) {
					display: none;
				}
			}
			a {
				display: block;
				h2 {
					font-family: TT Norms Pro;
					font-style: normal;
					font-weight: 600;
					font-size: calc(21px + 11 * (100vw / 1736));
					line-height: 37px;
					text-align: right;
					color: #f7f9fa;
					span {
						font-weight: 400;
					}
				}
				p {
					font-family: TT Norms Pro;
					font-style: normal;
					font-weight: bold;
					font-size: 13px;
					line-height: 16px;
					text-align: right;
					text-decoration-line: underline;
					text-transform: uppercase;
					color: #d6f6b2;
				}
			}
		}
	}
}
.block-1 {
	padding-bottom: 40px;
	&_left {
		padding-top: 70px;
		@media (max-width: 768px) {
			padding-top: 26px;
			padding-bottom: 50px;
		}
		@media (max-width: 428px) {
			text-align: center;
		}
		h1 {
			font-family: TT Norms Pro;
			font-style: normal;
			font-weight: normal;

			font-size: calc(23px + 7 * (100vw / 1920));
			line-height: 35px;
			letter-spacing: 0.12em;
			text-transform: uppercase;
			color: #9b9b9b;
			margin-bottom: 30px;
		}
		h2 {
			font-family: Prata;
			font-style: normal;
			font-weight: normal;
			font-size: calc(23px + 9 * (100vw / 1920));
			line-height: 160%;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: #292929;
			margin-bottom: 55px;
			@media (max-width: 580px) {
				margin-bottom: 30px;
			}
		}
		.btn-blcok {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			column-gap: 40px;
			@media (max-width: 1500px) {
				column-gap: 20px;
			}
			@media (max-width: 580px) {
				justify-content: space-between;
			}
			@media (max-width: 428px) {
				justify-content: center;
				align-items: center;
				flex-direction: column;
			}
			.btn {
				flex: 0 1 270px;
				@media (max-width: 768px) {
					flex: 0 1 230px;
				}
				@media (max-width: 428px) {
					flex: 0 1 100%;
					margin-bottom: 50px;
				}
			}
			.icon {
				@media (max-width: 580px) {
					display: none;
				}
			}
			span {
				font-family: TT Norms Pro;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 24px;
				color: #5f5f5f;
				@media (max-width: 580px) {
					display: none;
				}
				@media (max-width: 428px) {
					display: block;
					order: 2;
					margin-top: 40px;
					text-align: center;
				}
			}
			.pulse {
				margin-top: 0;
				margin-left: 0;
				margin-bottom: 0;
				margin-right: 0;
				span {
					@media (max-width: 580px) {
						display: block;
					}
					@media (max-width: 428px) {
						margin-top: 0;
					}
				}
			}
		}
		padding-bottom: 70px;
	}
	&_right {
		display: block;

		img {
			display: block;
			z-index: 11;
			position: relative;
		}
	}
	.icon-box {
		background: #f7f9fa;
		box-shadow: 0px 4px 30px rgba(44, 96, 78, 0.2), 0px -4px 2px -10px rgba(0, 0, 0, 0.25);
		border-radius: 4px;
		padding: 35px 14px;
		text-align: center;
		position: relative;
		min-height: 200px;
		@media (max-width: 992px) {
			margin-bottom: 60px;
		}
		.top {
			box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
			border-radius: 100%;
			position: absolute;
			margin: auto;
			left: 0;
			right: 0;
			top: -15%;
			z-index: 10;
			display: grid;
			width: 58px;
			height: 58px;
			place-items: center;
			&::after {
				width: 70px;
				height: 70px;
				content: "";
				position: absolute;
				background: #c1c9d6;
				z-index: 4;
				border-radius: 100%;
			}
			span {
				font-family: Prata;
				font-style: normal;
				font-weight: normal;
				font-size: 26px;
				line-height: 26px;
				text-align: center;
				letter-spacing: 0.03em;
				text-transform: uppercase;
				color: #1d976c;
				width: 58px;
				height: 58px;
				background: #f7f9fa;
				z-index: 5;
				display: grid;
				place-items: center;
				border-radius: 100%;
			}
		}
		h4 {
			font-family: TT Norms Pro;
			font-style: normal;
			font-weight: bold;
			font-size: 15px;
			line-height: 18px;
			text-align: center;
			color: #282828;
			margin-bottom: 33px;
			margin-top: 20px;
			position: relative;
			&::after {
				content: "";
				width: 50%;
				height: 1px;
				background: #1d976c;
				position: absolute;
				bottom: -100%;
				left: 0;
				margin: auto;
				right: 0;
			}
		}
		.icon-box_text {
			font-family: TT Norms Pro;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 130%;
			text-align: center;
			color: #5f5f5f;
		}
	}
}
.block-2 {
	background-image: url(../img/seconb-block-bg.png);
	background-repeat: no-repeat;
	padding: 95px 0;
	background-size: cover;
	@media (max-width: 768px) {
		padding: 20px 0;
	}
	.no-after::after {
		display: none;
	}
	.no-mob-after::after {
		@media (max-width: 992px) {
			display: none;
		}
	}
	.stats-body {
		text-align: center;
		padding: 0 13%;
		position: relative;
		@media (max-width: 992px) {
			margin-bottom: 40px;
		}
		&::after {
			content: "";
			position: absolute;
			width: 1px;
			height: 100px;
			background: #93f9b9;
			top: 9%;
			right: 0;
			@media (max-width: 768px) {
				display: none;
			}
		}
		.stats-number {
			font-family: Prata;
			font-style: normal;
			font-weight: normal;
			font-size: calc(30px + 14 * (100vw / 1920));
			line-height: 60px;
			text-align: center;
			color: #93f9b9;
		}
		.stats-text {
			font-family: TT Norms Pro;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 23px;
			text-align: center;
			color: #ffffff;
		}
	}
}
.block-3 {
	padding: 100px 0;
	position: relative;
	background: #f7f9fa;
	@media (max-width: 768px) {
		padding: 30px 0;
	}
	#about {
		position: absolute;
		width: 100%;
		height: 100%;
		.list-left {
			position: absolute !important;
			left: -100px !important;
			top: -125px !important;
			@media (max-width: 428px) {
				left: 0 !important;
				top: -53px !important;
			}
		}
		.list-right {
			position: absolute !important;
			left: 68% !important;
			top: 336px !important;
			width: 100%;
			@media (max-width: 428px) {
				left: 0 !important;
				top: 1347px !important;
			}
		}
	}
	.title {
		text-align: center;
		position: relative;
	}
	.subtitle {
		font-family: TT Norms Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 120%;
		text-align: center;
		color: #3b3e3d;
		margin-bottom: 40px;
		padding: 0 20%;
		position: relative;
		@media (max-width: 428px) {
			padding: 0;
		}
	}
	.green-text {
		font-family: TT Norms Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 120%;
		text-align: center;
		color: #3b3e3d;
		margin-bottom: 40px;
		color: #1d976c;
		padding: 0 20%;
		position: relative;
		@media (max-width: 428px) {
			padding: 0;
		}
	}
	.about-item {
		img {
			width: 100%;
		}
		@media (max-width: 992px) {
			margin-bottom: 30px;
		}
	}

	h4 {
		font-family: TT Norms Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		text-align: center;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: #292929;
		width: 100%;
		margin-top: 40px;
		margin-bottom: 24px;
		position: relative;
		@media (max-width: 768px) {
			margin-top: 20px;
		}
	}
	.mission {
		font-family: TT Norms Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 120%;
		text-align: center;
		color: #292929;
		padding: 0 20%;
		position: relative;
		@media (max-width: 768px) {
			padding: 0 7%;
		}
	}
}
.block-4 {
	padding: 100px 0;
	position: relative;
	background: #fff;
	@media (max-width: 768px) {
		padding: 30px 0;
	}
	#prod {
		position: absolute;
		width: 100%;
		height: 100%;
		.list-left {
			position: absolute !important;
			left: 20px !important;
			top: -19px !important;
			@media (max-width: 428px) {
				left: 0 !important;
				top: -53px !important;
			}
		}
	}
	.title {
		position: relative;
	}
	.subtitle {
		font-family: TT Norms Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 120%;
		text-align: center;
		color: #292929;
		margin-bottom: 40px;
		@media (max-width: 768px) {
			padding: 0 10%;
			margin-bottom: 20px;
		}
	}
	.product-box {
		background: linear-gradient(360deg, #ffffff 38.05%, rgba(255, 255, 255, 0) 100%),
			url(9aabf3cdeb657d0e868b0c4f2a51619d_1587481090_1000_750.jpg), #ffffff;
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		position: relative;
		margin-bottom: 40px;
		.product-img {
			img {
				width: 100%;
				border-radius: 4px;
			}
		}
		.product-name {
			font-family: TT Norms Pro;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			text-align: center;
			color: #282828;
			padding: 0 36%;
			margin-top: -12%;
			position: relative;
			height: 58px;
			@media (max-width: 1919px) {
				padding: 0 30%;
			}
			@media (max-width: 1200px) {
				padding: 0 25%;
			}
			@media (max-width: 1000px) {
				padding: 0 10%;
			}
			&::after {
				position: absolute;
				content: "";
				width: 100px;
				height: 1px;
				background: #1d976c;
				bottom: -30%;
				margin: auto;
				left: 0;
				right: 0;
			}
		}
		.product-info {
			padding: 40px;
			.product-item {
				display: flex;
				align-items: flex-end;
				justify-content: space-between;
				margin-bottom: 12px;
				.count {
					font-family: TT Norms Pro;
					font-style: normal;
					font-weight: 500;
					font-size: 20px;
					line-height: 130%;
					color: #5f5f5f;
				}
				.border {
					border-bottom: 1px dotted #c4c4c4;
					display: block;
					height: 1px;
					flex: 1 1 auto;
				}
				.price {
					font-family: TT Norms Pro;
					font-style: normal;
					font-weight: 600;
					font-size: 20px;
					line-height: 130%;
					color: #5f5f5f;
					span {
						color: #1d976c;
					}
				}
			}
		}
	}
	.btn-block {
		display: flex;
		justify-content: center;
		@media (max-width: 428px) {
			padding-left: 15px;
		}
		.btn {
			display: block;
		}
	}
}
.block-5 {
	background-color: #fff;
	overflow: visible;
	position: relative;
	@media (max-width: 768px) {
		padding: 30px 0;
	}
	#why {
		position: absolute;
		top: -10%;
		right: 0;
		z-index: 1;
		@media (max-width: 768px) {
			display: none;
		}
	}
	.container {
		background: #f7f9fa;
		padding: 10px;
		position: relative;
		z-index: 3;
	}
	.inner {
		border: 1px solid #c1c9d6;
		box-sizing: border-box;
		border-radius: 2px;
		padding: 84px 70px 0 70px;
		position: relative;
		@media (max-width: 768px) {
			padding: 34px 20px 0 20px;
		}
		.monument {
			position: absolute;
			right: 0;
			top: -60px;
			width: 35%;
		}
		.title {
			text-align: left;
			margin-bottom: 80px;
		}
		.info-box {
			background: #ffffff;
			padding: 10px;
			text-align: center;
			margin-bottom: 70px;
			min-height: 250px;
			.info-box-body {
				border: 1px solid #e9ecee;
				box-sizing: border-box;
				border-radius: 4px;
				position: relative;
				padding: 0px 33px 30px 33px;
				min-height: 250px;
				.icon {
					position: relative;
					top: -21%;
					left: 0;
					right: 0;
					margin-bottom: 40px;
					margin-top: -50px;
				}
				.text {
					font-family: TT Norms Pro;
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 150%;
					text-align: center;
					color: #888888;
					span {
						color: #1d976c;
					}
				}
			}
		}
	}
}
.block-6 {
	display: block;
	position: relative;
	padding: 100px 0;
	.list-6 {
		position: absolute;
		left: 0;
		top: 15%;
		z-index: 2;
		@media (max-width: 768px) {
			z-index: 0;
		}
	}
	@media (max-width: 768px) {
		text-align: center;
		padding: 30px 0;
	}
	.house-img {
		display: block;
	}
	.row {
		align-items: center;
	}
	.right-block {
		.subtitle {
			font-family: TT Norms Pro;
			font-style: normal;
			font-weight: 500;
			font-size: 32px;
			line-height: 38px;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			color: #3b3e3d;
			margin-bottom: 16px;
		}
		.title {
			letter-spacing: 0.03em;
			text-transform: uppercase;
			text-align: left;
			color: #3b3e3d;
			margin-bottom: 30px;
			@media (max-width: 768px) {
				text-align: center;
			}
		}
		.txt {
			font-family: TT Norms Pro;
			font-style: normal;
			font-weight: 500;
			font-size: 22px;
			line-height: 150%;
			color: #888888;
			margin-bottom: 40px;
			@media (max-width: 768px) {
				margin-bottom: 30px;
			}
			span {
				color: #3b3e3d;
			}
		}
		.b-txt {
			font-family: TT Norms Pro;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 28px;
			color: #292929;
			display: block;
		}
		.btn-block {
			display: block;
			margin-top: 54px;
			.btn {
				margin-top: 54px;
			}
		}
	}
}
.block-7 {
	position: relative;
	display: block;
	padding: 100px 0;
	@media (max-width: 768px) {
		padding: 30px 0;
	}
	.subtitle {
		font-family: $font-family;
		font-style: normal;
		font-weight: 500;
		font-size: 32px;
		line-height: 38px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #3b3e3d;
		margin-bottom: 20px;
		@media (max-width: 768px) {
			text-align: center;
		}
	}
	.title {
		text-align: left;
		margin-bottom: 40px;
		@media (max-width: 768px) {
			text-align: center;
			margin-bottom: 20px;
		}
	}
	.accardion-body {
		background: #ffffff;
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		padding: 20px 40px 40px 40px;
		@media (max-width: 768px) {
			margin-bottom: 40px;
			padding: 20px 20px 20px 20px;
		}
	}
	.accardion-top {
		display: block;
		.icon-box {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		p {
			font-family: $font-family;
			font-style: normal;
			font-weight: bold;
			font-size: 28px;
			line-height: 34px;
			color: #3b3e3d;
			margin-bottom: 30px;
		}
	}
	.accordion__item {
		margin: 5px auto;
	}
	.accordion__item .accordion__title {
		position: relative;
		display: block;
		padding: 13px 60px 15px 13px;
		margin-bottom: 2px;
		text-decoration: none;
		border-radius: 3px;
		-webkit-transition: background-color 0.2s;
		transition: background-color 0.2s;
		cursor: pointer;
		font-family: TT Norms Pro;
		font-style: normal;
		font-weight: 500;
		font-size: 22px;
		line-height: 26px;
		color: #4b4b4b;
	}
	.accordion__item .accordion__title .accordion__arrow {
		position: absolute;
		top: 13px;
		right: 10px;
		display: inline-block;
		vertical-align: middle;
		width: 30px;
		height: 30px;
		text-align: center;
		color: #76eba1;
		line-height: 30px;
		font-size: 20px;
		font-weight: 700;
		margin-right: 5px;
		border-radius: 50%;
		-webkit-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}
	.accordion__item .accordion__rotate {
		transform: rotate(225deg);
	}
	.accordion__item .accordion__content {
		padding: 30px;
		margin-bottom: 2px;
		display: none;
		font-family: TT Norms Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 26px;
		color: #4b4b4b;
		background: #f8f8f8;
	}
	.accordion__item .accordion__arrow-item {
		font-weight: 700;
	}
}
.block-8 {
	padding-bottom: 100px;
	position: relative;
	display: block;
	overflow: visible;
	@media (max-width: 768px) {
		padding-bottom: 30px;
	}
	.list-img {
		position: absolute;
		left: 0;
		top: -32%;
		z-index: -1;
	}
	.title {
		margin-bottom: 50px;
		@media (max-width: 768px) {
			margin-bottom: 30px;
		}
	}
	.iconbox {
		display: block;
		text-align: center;
		@media (max-width: 768px) {
			margin-bottom: 20px;
		}
		.icon {
			margin-bottom: 50px;
			@media (max-width: 768px) {
				margin-bottom: 20px;
			}
		}
		.txt {
			font-family: $font-family;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 140%;
			span {
				color: #5fd68b;
			}
		}
	}
}
.block-9 {
	position: relative;
	overflow: visible;
	display: block;
	padding-bottom: 100px;
	@media (max-width: 768px) {
		padding-bottom: 30px;
	}
	.title {
		margin-bottom: 55px;
		@media (max-width: 768px) {
			margin-bottom: 30px;
		}
	}
	.lis-img {
		position: absolute;
		right: 0;
		top: -31%;
		z-index: -1;
	}
	.subtitle {
		font-family: $font-family;
		font-style: normal;
		font-weight: 500;
		font-size: 32px;
		line-height: 38px;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #3b3e3d;
		margin-bottom: 20px;
	}
	.bx-1 {
		&::before {
			content: "#01";
			position: absolute;
			top: 0;
			left: -3%;
			font-style: normal;
			font-weight: bold;
			font-size: calc(70px + 30 * (100vw / 1920));
			font-family: $font-family;
			line-height: 140%;
			text-align: center;
			color: #e9f3ed;
		}
	}
	.bx-2 {
		&::before {
			content: "#02";
			position: absolute;
			top: 0;
			left: -3%;
			font-style: normal;
			font-weight: bold;
			font-size: 100px;
			font-family: $font-family;
			line-height: 140%;
			text-align: center;
			color: #e9f3ed;
		}
	}
	.bx-3 {
		&::before {
			content: "#03";
			position: absolute;
			top: 0;
			left: -3%;
			font-style: normal;
			font-weight: bold;
			font-size: 100px;
			font-family: $font-family;
			line-height: 140%;
			text-align: center;
			color: #e9f3ed;
		}
	}
	.iconbox {
		background: #ffffff;
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		display: block;
		overflow: hidden;
		padding: 10px;
		border-radius: 5px;
		position: relative;
		@media (max-width: 768px) {
			margin-bottom: 30px;
		}
		.iconbox-body {
			border: 1px solid #c4c4c4;
			box-sizing: border-box;
			border-radius: 4px;
			text-align: center;
			padding: 70px 20px 40px 20px;
			position: relative;
			min-height: 300px;
			@media (max-width: 768px) {
				padding: 30px 20px 20px 30px;
			}
			.icon {
				margin-bottom: 25px;
			}
			.txt {
				font-family: $font-family;
				font-style: normal;
				font-weight: bold;
				font-size: 20px;
				line-height: 140%;
				text-align: center;
				color: #4b4b4b;
			}
		}
	}
}
.block-10 {
	position: relative;
	display: block;
	background: #f7f9fa;
	padding: 100px 0;
	@media (max-width: 768px) {
		padding: 30px 0;
	}
	.container {
		position: relative;
	}
	.dollar-l {
		position: absolute;
		left: 0;
		top: 0;
		@media (max-width: 768px) {
			display: none;
		}
	}
	.dollar-r {
		position: absolute;
		right: 0;
		bottom: 20%;
		@media (max-width: 768px) {
			display: none;
		}
	}
	.subtitle {
		font-family: $font-family;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		text-align: center;
		text-transform: uppercase;
		color: #3b3e3d;
		margin-bottom: 20px;
	}
	.title {
		margin-bottom: 20px;
	}
	.sub {
		font-family: $font-family;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		color: #3b3e3d;
	}
	.img-box {
		@media (max-width: 768px) {
			margin-bottom: 30px;
		}
		.img {
			display: block;
		}
		.title {
			font-family: $font-family;
			font-style: normal;
			font-weight: bold;
			font-size: 22px;
			line-height: 26px;
			text-align: center;
			color: #282828;
			position: relative;
			&::after {
				content: "";
				height: 1px;
				width: 100px;
				background: #1d976c;
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				bottom: -50%;
			}
		}
		.txt {
			font-family: $font-family;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 130%;
			text-align: center;
			color: #5f5f5f;
		}
	}
}
